<navbar></navbar>
<form [formGroup]="searchForm" (ngSubmit)="search()">
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="sourceInput"
                    formControlName="source" placeholder="Enter Source">
                <label for="sourceInput">Source</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="destinationInput"
                    formControlName="destination"
                    placeholder="Enter Destination">
                <label for="destinationInput">Destination</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="noOfPassenger"
                    formControlName="noOfPassengers"
                    placeholder="Enter No of Passengers">
                <label for="noOfPassenger">No of Passengers</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="dateInput"
                    formControlName="date" placeholder="Enter Date">
                <label for="dateInput">Date</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="dateInput"
                    formControlName="returndate" placeholder="Enter Date">
                <label for="dateInput">Return Date</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <div class="btn-group" role="group"
                    aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio"
                        id="single" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="single" (click)="navigateTo('flight/search')">One
                        Way</label>

                    <input type="radio" class="btn-check" name="btnradio"
                        id="return" autocomplete="off">
                    <label class="btn btn-outline-primary"
                        for="return" (click)="navigateTo('flight/return')">Return</label>

                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filters</h5>
                    <div class="mb-3">
                        <form [formGroup]="filterFormDay"
                            (ngSubmit)="filter()">
                            <label class="form-label"><strong>Time of
                                    Flight</strong></label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                    id="morning"
                                    formControlName="morning"
                                    value="morning">
                                <label class="form-check-label" for="morning">
                                    Morning (5:00 am - 06:00pm)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                    id="night"
                                    formControlName="night" value="night">
                                <label class="form-check-label" for="night">
                                    Night (06:00 pm - 05:00am)
                                </label>
                            </div>
                        </form>
                    </div>

                    <!-- Airline Filter -->
                    <!-- Airline Filter with Multiple Selection -->
                    <div class="mb-3">
                        <form [formGroup]="filterFormAirline" (ngSubmit)="filter()">
                            <label class="form-label"><strong>Airline</strong></label>
                            <div class="form-check" *ngFor="let airline of airlines">
                                <input 
                                    class="form-check-input" 
                                    type="checkbox" 
                                    [id]="airline.id"
                                    (change)="onAirlineSelectionChange($event, airline.airlineName)"
                                >
                                <label class="form-check-label" [for]="airline.id">
                                    {{ airline.airlineName }}
                                </label>
                            </div>
                        </form>
                    </div>
                    

                </div>
            </div>
        </div>

        <!-- Sort options on the right -->
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sort Options</h5>
                    <form [formGroup]="filterFormDeparture"
                        (ngSubmit)="filter()">
                        <!-- Sort by Departure Time -->
                        <div class="mb-3">
                            <label class="form-label"><strong>Sort by Departure
                                    Time</strong></label>
                            <select class="form-select"
                                formControlName="sortDeparture"
                                id="sortDepartureTime">
                                <option value>Select</option>
                                <option value="asc">Earliest to Latest</option>
                                <option value="desc">Latest to Earliest</option>
                            </select>
                        </div>
                    </form>
                    <form [formGroup]="filterFormPrice"
                        (ngSubmit)="filter()">
                        <!-- Sort by Price -->
                        <div class="mb-3">
                            <label class="form-label"><strong>Sort by
                                    Price</strong></label>
                            <select class="form-select" id="sortPrice"
                                formControlName="sortPrice">
                                <option value>Select</option>
                                <option value="low-high">Low to High</option>
                                <option value="high-low">High to Low</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row" *ngFor="let flight of filteredFlights">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!-- Airline Name in Center -->
                        <div class="col-md-12 text-center">
                            <h3 class="text-primary font-weight-bold">{{flight.airline.airlineName}}</h3>
                        </div>
                        
                        <div class="col-md-8">
                            <h5 class="card-title">Flight No: {{flight.flightNo}}</h5>
                            <p class="card-text">
                                <strong>Source:</strong> {{flight.sourceCity}}<br>
                                <strong>Destination:</strong> {{flight.destinationCity}}<br>
                            </p>
                            <p class="card-text">
                                <strong>Base Fare (Economy):</strong> {{flight.economyBaseFare}}<br>
                                <strong>Base Fare (Business):</strong> {{flight.businessBaseFare}}<br>
                            </p>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-0"><strong>Departure Time:</strong> {{flight.departureTime}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-0"><strong>Arrival Time:</strong> {{flight.arrivalTime}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
