<form action="#">
    <label>Flight Number:</label>
    <input type="text"><br>
    <label>Arrival Time:</label>
    <input type="time"><br>
    <label>Departure Time:</label>
    <input type="time"><br>
    <label>Source:</label>
    <input type="text"><br>
    <label>Destination:</label>
    <input type="text"><br>
    <label>From Date:</label>
    <input type="date"><br>
    <label>To Date:</label>
    <input type="date"><br>
    <label>Economy Base Fare:</label>
    <input type="number"><br>
    <label>Business Base Fare:</label>
    <input type="number"><br>
    <br>
    <label>Number of Economy Rows:</label>
    <input type="number"><br>
    <label>Number of Business Rows:</label>
    <input type="number"><br>
    
    <br>
    <p>Total Seats = 6 * (number of business rows + number of economy rows)</p>
    <br>
    <label>Aisle charge:</label>
    <input type="number"><br>
    <label>Window charge:</label>
    <input type="number"><br>
    <label>Middle charge:</label>
    <input type="number"><br>
    <br>
    <button type="submit">Submit</button>
</form>