<div class="container mt-4">
  <h2 class="text-center text-primary mb-4">Selected Flights</h2>

  <!-- Display One-Way Flight -->
  <div *ngIf="selectedOneWayFlight" class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">One-Way Flight</h5>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-md-12 text-center">
          <h5 class="text-primary font-weight-bold">{{ selectedOneWayFlight.airline.airlineName }}</h5>
        </div>
        <div class="col-md-8">
          <h6 class="card-title">Flight No: {{ selectedOneWayFlight.flightNo }}</h6>
          <p class="card-text">
            <strong>Source:</strong> {{ selectedOneWayFlight.sourceCity }}<br>
            <strong>Destination:</strong> {{ selectedOneWayFlight.destinationCity }}<br>
          </p>
          <ng-container *ngIf="!ifBusiness">
            <strong>Economy Fare:</strong> ₹{{ selectedOneWayFlight.economyBaseFare }}<br>
          </ng-container>
          
          <ng-container *ngIf="ifBusiness">
            <strong>Business Fare:</strong> ₹{{ selectedOneWayFlight.businessBaseFare }}<br>
          </ng-container>
        </div>
        <div class="col-md-4 text-center">
          <p class="text-success"><strong>Departure Time:</strong> {{ selectedOneWayFlight.departureTime }}</p>
          <p class="text-danger"><strong>Arrival Time:</strong> {{ selectedOneWayFlight.arrivalTime }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Display Return Flight -->
  <div *ngIf="selectedReturnFlight" class="card mb-4 shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Return Flight</h5>
    </div>
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-md-12 text-center">
          <h5 class="text-primary font-weight-bold">{{ selectedReturnFlight.airline.airlineName }}</h5>
        </div>
        <div class="col-md-8">
          <h6 class="card-title">Flight No: {{ selectedReturnFlight.flightNo }}</h6>
          <p class="card-text">
            <strong>Source:</strong> {{ selectedReturnFlight.sourceCity }}<br>
            <strong>Destination:</strong> {{ selectedReturnFlight.destinationCity }}<br>
          </p>
          <p class="card-text">
            <ng-container *ngIf="!ifBusiness">
              <strong>Economy Fare:</strong> ₹{{ selectedReturnFlight.economyBaseFare }}<br>
            </ng-container>
            
            <ng-container *ngIf="ifBusiness">
              <strong>Business Fare:</strong> ₹{{ selectedReturnFlight.businessBaseFare }}<br>
            </ng-container>
          </p>
          
        </div>
        <div class="col-md-4 text-center">
          <p class="text-success"><strong>Departure Time:</strong> {{ selectedReturnFlight.departureTime }}</p>
          <p class="text-danger"><strong>Arrival Time:</strong> {{ selectedReturnFlight.arrivalTime }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Display Book Button -->
  <div class="text-center mb-4">
    <button class="btn btn-primary btn-lg " (click)="handleBooking()">Book Seats</button>
  </div>  
</div>
