   <navbar></navbar>

   <div class="container">
       <div class="upcomingFlights">
           <h2>Upcoming Flights</h2>
           <div class="card my-3">
   
               <div class="heading">
                   <h5 class="card-title">
                       Booking #{{ card[0].bookingId }} - {{ card[0].airlineName }}
                   </h5>
                   <p class="card-text">Booking Date: {{ card[0].bookingDate | date: 'medium' }}</p>
               </div>
               <!-- <p class="card-text">Seats Booked: {{ card[0].seatsBooked }}</p> -->
               <div class="modal-body">
                   <div *ngFor="let history of card[0].bookingHistory" class="border p-3 mb-2 boarding-pass">
                       <download-ticket [card]="card[0]" [history]="history"></download-ticket>
                   </div>
               </div>
   
               <button type="button" (click)="downloadAsPDF(card[0].bookingId)" class="btn btn-primary">Download
                   Boarding Pass</button>
           </div>
       </div>
   </div>
