<div>
    <form action="">
        <label for="">Name</label>
        <input type="text" required><br>
        <label for="">Phone No</label>
        <input type="text" required><br>
        <label for="">DOB</label>
        <input type="text" required><br>
        <label for="">Gender</label>
        <select name="" id="">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
        </select><br>
        <label for="">Email</label>
        <input type="text" required><br>
        <label for="">Password</label>
        <input type="text" required><br>
        <button type="submit">SignUp</button><br>
        <a routerLink="/login">Already have an account? login</a><br>
    </form>


</div>