<h3>Edit Schedule</h3>
<form action="#">
    <p>Flight Number:</p>
    <label>Arrival Time:</label>
    <input type="time"><br>
    <label>Departure Time:</label>
    <input type="time"><br>
    <p>Source:</p>
    <p>Destination:</p>
    <input type="text"><br>
    <label>From Date:</label>
    <input type="date"><br>
    <label>To Date:</label>
    <input type="date"><br>
    <label>Economy Base Fare:</label>
    <input type="number"><br>
    <label>Business Base Fare:</label>
    <input type="number"><br>
    <br>
    <p>Number of Economy Rows:</p>
    <p>Number of Business Rows:</p>
    
    <br>
    <p>Total Seats = 6 * (number of business rows + number of economy rows)</p>
    <br>
    <label>Aisle charge:</label>
    <input type="number"><br>
    <label>Window charge:</label>
    <input type="number"><br>
    <label>Middle charge:</label>
    <input type="number"><br>
    <br>
    <button type="submit">Submit</button>
</form>